.artistProfilePictureARH {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  object-fit: cover;
  margin: 10px;
}
.topTrackCover {
  width: 64px;
}
.albumCover {
  width: 250px;
}
.singleCover {
  width: 250px;
}