.topOfPage {
  background-color: rgb(5, 5, 5);
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(245, 245, 245);
}

.bodyOfPage {
  max-width: 95%;
  margin: 0 auto;
}

.circularProgress {
  margin-top: 300px;
  margin-left: 25%;
  margin-right: 25%;
}

h2 {
  margin-top: 50px
}

.albumsList {
  display: flex;
  flex-wrap: wrap;
}

.albumContainer {
  background-color: white;
  padding: 10px;
  margin: 15px;
  width: 200px;
}

.albumContainer:hover {
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
}
.albumPicture {
  width: 200px;
}

.albumName {
  font-weight: bold;
}

.albumArtist {
  font-size: small;
}

.songContainer {
  background-color: white;
  max-width: 40%;
  margin: 15px;
  padding: 10px;
  display: flex;
  align-items: center
}

.songContainer:hover {
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
}

.songInfo {
  margin-left: 15px
}
.songName {
  font-size: large;
}
.songArtist {
  font-size: small;
}

.artistsList {
  display: flex;
}

.artistContainer {
  background-color: white;
  margin: 10px;
}
.artistContainer:hover {
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
}
.artistPicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
}

.artistName {
  font-weight: bold;
  margin-left: 25px;
  padding-bottom: 15px
}

p {
  margin: 5px
}
